<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kiosk - Settings</title>
</head>
<body>
  <h1>Kiosk</h1>
  <section>
    <h2>Domains</h2>
    <form id="remove">
      <fieldset>
        <ul id="domains"></ul>
        <div>
          <input type="text" name="domain">
          <input type="submit" value="Delete">
        </div>
      </fieldset>
    </form>
  </section>
  <section>
    <h2>Update</h2>
    <form id="update">
      <fieldset>
        <p>
          <label for="site">Domain:</label>
          <input id="site" type="text" name="site">
        </p>
        <p>
          <label for="target">Target:</label>
          <input id="target" type="text" name="target">
        </p>
        <p>
          <button type="submit">Submit</button>
          <button type="reset">Clear</button>
        </p>
      </fieldset>
    </form>
  </section>

  <script>
    const updater = document.querySelector('update')
    update.addEventListener('submit', post)

    const remover = document.getElementById('remove')
    remover.addEventListener('submit', remove)

    function get () {
      fetch('/_pamphlets').
        then(res => res.json()).
        then(render)
    }

    function remove (event) {
      fetch(`/_pamphlets?site=${event.target.elements.domain.value}`, {
        method: 'delete'
      }).then(get)

      event.target.reset()
      event.preventDefault()
    }

    function post (event) {
      const params = new URLSearchParams()
      params.set("target", event.target.elements.target.value)
      params.set("site", event.target.elements.site.value)

      fetch('/_pamphlets', {
        method: 'post',
        body: params
      }).then(get)

      event.target.reset()
      event.preventDefault()
    }

    function render (pamphlets) {
      const list = document.getElementById('domains')
      list.innerHTML = pamphlets.sort((a, b) => a > b).map(pamphlet).join('')
    }

    function pamphlet (hostname) {
      return `<li>${hostname}</li>`
    }

    get()
  </script>
</body>
</html>
